*{
    margin: 0;
    padding: 0
}

body{
    background-image: linear-gradient(to right,#EB4174, #FFE3E3);
}

#container{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

#website{
    height : 20px;
    width : 500px;
    border-radius: 5px;
    padding: 5px;
}

#website::placeholder{
    text-align: center;
}

#gen-btn{
    height : 6vh;
    width : 20vw
}